body {
    width: 500px;
    margin: auto;
    text-align: center;
}

div {
    display: block;
    unicode-bidi: isolate;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: start;
    font-size: 0.9em;
    margin-top: 20px;
}