 body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;

     background-color: #dedfe3;

     background-image: url("https://www.pdga.com/sites/all/themes/pdga/images/2025-gannon-buhr.png?s=1"), url("https://www.pdga.com/sites/all/themes/pdga/images/2025-ohn-scoggins.png?s=1");
     background-repeat: no-repeat, no-repeat;
     background-position: calc(50% - 600px) bottom, calc(50% + 600px) bottom;
     background-size: 640px auto, 680px auto;
     background-attachment: fixed, fixed;

 }

 header nav {
     display: grid;
     grid-template-columns: auto auto 1fr auto;
     gap: 12px;
     align-items: center;
 }

 header nav ul {
     grid-column: 1 /-1;
     display: grid;
     grid-template-columns: repeat(9, 1fr);
     gap: 6px;
     margin: 8px 0 0;
     padding: 0;
 }

 header nav a.btn {
     display: block;
     text-align: center;
 }


 header nav form {
     display: flex;
     align-items: center;
     gap: 8px;
 }


 #logo {
     width: 300px;
 }

 div#top {
     margin-bottom: 40px;
     margin-top: 40px;
 }

 div#top h1 {
     font-size: 35px;
 }


 #slide {
     display: flex;
 }

 #slide_pic {
     width: 400px;
 }

 #panel {
     text-align: center;
 }

 #page {
     width: 960px;
     margin: 0 auto;
     box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 15px -4px #333, -5px 0 15px -4px #333;
     background-color: #ffffff;
     padding: 18px;
 }

 #panel {
     margin-left: 10px;
     margin-right: 10px;
 }

 h5 {
     font-size: 20px;
 }

 table {
     margin: auto;
     border: none;
 }

 table a {
     color: white;
 }

 table#upcoming_table,
 table#past {
     table-layout: fixed;
     width: 400px;
 }

 tbody {
     border-top: 1px solid #ccc;
 }

 thead th,
 th {
     background: -webkit-gradient(linear, left top, left bottom, from(#05426e), to(#03253e));
     background-color: rgba(0, 0, 0, 0);
     background: -moz-linear-gradient(top center, #05426e, #03253e);
     background-color: #002744;
     color: #fff;
     font-weight: bold;
     border-bottom: none;
     margin: 0 0 5px;
     padding: 10px;
     line-height: 1;
     text-transform: none;
 }

 table#past {
     margin-bottom: 50px;
 }


 table#past th {
     height: 25px;
 }

 tr:nth-child(2n),
 tr:nth-child(2n+1) {
     background-color: #f6f8f9;
     border-bottom: 1px solid #cddcea;
     padding: 0.1em 0.6em;
 }

 td,
 th {
     padding: 4px 8px;
     vertical-align: middle;
 }

 div {
     display: block;
     unicode-bidi: isolate;
 }


 .dbwinnertable {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 16px;
     max-width: 1200px;
     margin: 0 auto;
 }

 .cardWinner {
     border-radius: 8px;
     padding: ;
 }

 .cardWinner h3 {
     text-align: center;
 }

 footer {
     color: white;
     background-color: #03253e;
     padding: 10px;
     text-align: start;
     font-size: 0.9em;
     margin-top: 20px;
 }